section#contact-advertise-press
    .grid-container
        nav.grid-x.grid-margin-x.cell.medium-12.flex-dir-row.align-center
            each URL in ['CONTACT US', 'ADVERTISING','SUBMIT PRESS RELEASE']
                .nav-item
                    a(href="#" title="URL")= URL