footer
    .grid-container
        .footer-top.grid-x.grid-margin-x
            .cell.medium-4.flex-container
                button.button.metro Image
            .cell.medium-4.flex-container.align-center-middle
                .social-icons.flex-container
                    a(href="#").social-icon.icon-circle
                        i.fa.fa-facebook
                    a(href="#").social-icon
                        i.fa.fa-twitter
                    a(href="#").social-icon
                        i.fa.fa-instagram
                    a(href="#").social-icon
                        i.fa.fa-youtube-play
                    a(href="#").social-icon
                        i.fa.fa-pinterest
            .cell.medium-4.flex-container.align-right
                button.button.create-event Create Event
        
        .footer-bottom.flex-container.flex-dir-row.align-justify
            .links.flex-container
                a(href="#").link Privacy Policy
                a(href="#").link Sitemap
                a(href="#").link Rules for Commenting
            .copyright Transcontinental Media GP - &copy; 2008-2018 - All rights reserved