head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title MET
  link(rel="stylesheet" href="../css/app.css")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css")
  link(rel="stylesheet" type="text/css" href="../vendors/twentytwenty/css/twentytwenty.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")