section#trend
  h5.trending-header Trending in Montreal

  .grid-container
    .grid-x.grid-padding-x.trending-grid
        .cell.medium-6
          .grid-x.grid-padding-x.align-middle
            .cell.medium-6.trending-image(style="background-image: url('../assets/images/.jpg')")
            .cell.medium-6
              .flex-container.flex-dir-column
                .flex-container.flex-dir-row.pad-btm
                  i.fa.fa-clock-o
                  span.tim 3:15 pm
                  span.dat AUG 15, 2018
                strong Latest story headline<br/> goes here Lorem Ipsum<br/> is simply dummy text of<br/> the printing and
        .cell.medium-6
          .grid-x.grid-padding-x.align-middle
            .cell.medium-6.trending-image(style="background-image: url('../assets/images/.jpg')")
            .cell.medium-6
              .flex-container.flex-dir-column
                .flex-container.flex-dir-row.pad-btm
                  i.fa.fa-clock-o
                  span.tim 3:15 pm
                  span.dat AUG 15, 2018
                strong Latest story headline<br/> goes here Lorem Ipsum<br/> is simply dummy text of<br/> the printing and
    .grid-x.grid-padding-x.trending-grid    
        .cell.medium-6
          .grid-x.grid-padding-x.align-middle
            .cell.medium-6.trending-image(style="background-image: url('../assets/images/.jpg')")
            .cell.medium-6
              .flex-container.flex-dir-column
                .flex-container.flex-dir-row.pad-btm
                  i.fa.fa-clock-o
                  span.tim 3:15 pm
                  span.dat AUG 15, 2018
                strong Latest story headline<br/> goes here Lorem Ipsum<br/> is simply dummy text of<br/> the printing and
        .cell.medium-6
          .grid-x.grid-padding-x.align-middle
            .cell.medium-6.trending-image(style="background-image: url('../assets/images/.jpg')")
            .cell.medium-6
              .flex-container.flex-dir-column
                .flex-container.flex-dir-row.pad-btm
                  i.fa.fa-clock-o
                  span.tim 3:15 pm
                  span.dat AUG 15, 2018
                strong Latest story headline<br/> goes here Lorem Ipsum<br/> is simply dummy text of<br/> the printing and